/*content centered on page*/

div{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: 'Roboto Mono';
}
body{
  background-color: hsl(0,0%,100%);
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.picture{
  margin: auto;
  margin-top: 20vh;
  box-shadow: 0 0 0px 3px hsl(0, 40%, 50%);
  border:solid;
  border-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  background-color: hsl(0,0%,50%);
  width: 128px;
  height: 128px;
}
.name-label{
  margin-top: 10vh;
  font-size: 20pt;
  color: hsl(0,100%,15%);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.link-container{
  margin:auto;
  margin-top: 5vh;
  border: solid;
  border-color: hsl(0, 40%, 50%);
  width:40vw;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.link-box{
  width:7vw;
  height:7vw;
  display: block;
  background-color: hsl(200, 40%, 50%);
  box-shadow: 0 0 0px 0px hsl(200, 40%, 50%);
  -webkit-transition: box-shadow .25s;
  -moz-transition: box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
}
.link-box:hover{
  cursor:pointer;
  box-shadow: 0 0 0px 3px hsl(200, 40%, 50%);
}
