/*content centered on page*/

div{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: 'Roboto Mono';
}
body{
  background-color: hsl(0,0%,100%);
}
.content-container{
  margin:auto;
  margin-top: 3vh;
  width:45vw;
  padding: 0px;
}
.title{
  margin-top: 7vh;
  margin-bottom: 7vh;
  width:45vw;
  padding: 0px;
  color: hsl(0,100%,15%);
  font-size: 6vw;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.icon-container{
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25vw;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
}
.icon-box{
  width:7vw;
  height:7vw;
  overflow: hidden;
  background-color: hsl(200, 40%, 50%);
  box-shadow: 0 0 0px 0px hsl(200, 40%, 50%);
  border:solid;
  border-width: 0vw;
  border-color: hsl(200, 40%, 50%);
  border-radius: 5px;
  font-family: 'Fira Mono';
  font-size:3.5vw;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  line-height: 7vw;
  -webkit-transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
  -moz-transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
  -o-transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
  transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
}
.icon-box:hover{
  cursor:pointer;
  box-shadow: 0 0 0px 3px hsl(200, 40%, 50%);
  font-weight: bold;
}
.icon-box-open{
  width:14vw;
  background-color: hsl(100, 40%, 50%);
  font-family: 'Roboto Mono';
  font-size: 1.5vw;
  line-height: 0px;
  border:solid;
  border-width: 5px;
  border-color: hsl(100, 40%, 50%);
}
.full-text{
  display: none;
}
.info{
  margin-left: 1vw;
  /*width: 32.9vw;*/
  width: 42.8vw;
  height: 0px;
  transition: height .25s;
  background-color: hsl(0,0%,90%);
  border: solid;
  border-width: 0px;
  border-color: hsl(200, 40%, 50%);
  -webkit-transition: height .25s, border 0s linear .04s, background-color .25s linear;
  -moz-transition: height .25s, border 0s linear .04s, background-color .25s linear;
  -o-transition: height .25s, border 0s linear .04s, background-color .25s linear;
  transition: height .25s, border 0s linear .04s, background-color .25s linear;
}
.info-open{
  height:29vh;
  border-width: 3px;
}
.content{
  margin-left: auto;
  margin-right: auto;
  width:45vw;
  height:0px;
  -webkit-transition: height .25s;
  -moz-transition: height .25s;
  -o-transition: height .25s;
  transition: height .25s;
}
.content-open{
  height:30vh;
  padding-bottom:1vw;
  padding-left:0px;
  padding-top:0px;
  padding-right: 1.1vw;
}
