/*content centered on page*/

div{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: 'Roboto Mono';
}
body{
  background-image: url('../img/background.png');
  background-color: hsl(0,0%,100%);
}
/*makes text unselectable*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.panel.panel-default{
  box-shadow: 0 0 0px 1px hsl(200, 30%, 90%);
}
.panel.panel-default:hover{
  box-shadow: 0 0 0px 2px hsl(200, 40%, 85%);
}
.content-container{
  margin:auto;
  margin-top: 0vh;
  width:45vw;
  padding: 0px;
}
.title{
  width:45vw;
  padding: 0px;
  color: hsl(0,100%,15%);
  font-size: 5.5vw;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.title:hover{
  cursor:default;
}
.icon-container{
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25vw;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
}
/*used to change between projects, shrinks when opened, opens specific info, bolded when hovered*/
.icon-box{
  width:7vw;
  height:7vw;
  overflow: hidden;
  background-color: hsl(200, 40%, 50%);
  box-shadow: 0 0 0px 0px hsl(200, 40%, 50%);
  border:solid;
  border-width: 0vw;
  border-color: hsl(200, 40%, 50%);
  border-radius: 5px;
  font-family: 'Fira Mono';
  font-size:3.5vw;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  line-height: 7vw;
  -webkit-transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
  -moz-transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
  -o-transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
  transition: height .25s, width .25s, box-shadow .25s, background-color .25s linear, border .25s linear, font-weight .25s, line-height .25s;
}
.icon-box:hover{
  cursor:pointer;
  box-shadow: 0 0 0px 3px hsl(100, 40%, 50%);
  font-weight: bold;
}
.icon-box-open{
  width:14vw;
  background-color: hsl(100, 40%, 50%);
  font-family: 'Roboto Mono';
  font-size: 1.5vw;
  line-height: 0px;
  border:solid;
  border-width: 5px;
  border-color: hsl(100, 40%, 50%);
}
.icon-box-open:hover{
    cursor:pointer;
    box-shadow: 0 0 0px 3px hsl(200, 40%, 50%);
    font-weight: bold;
}
.full-text{
  display: none;
}
/*information for selected icon-box*/
.info{
  margin-left: 1vw;
  /*width: 32.9vw;*/
  width: 42.8vw;
  height: 0px;
  padding: 0vw;
  background-color: hsl(0,0%,90%);
  border: solid;
  border-width: 0px;
  border-color: hsl(200, 40%, 50%);
  -webkit-transition: height .25s, border 0s linear .04s, background-color .25s linear, padding 0s linear .25s;
  -moz-transition: height .25s, border 0s linear .04s, background-color .25s linear, padding 0s linear .25s;
  -o-transition: height .25s, border 0s linear .04s, background-color .25s linear, padding 0s linear .25s;
  transition: height .25s, border 0s linear .04s, background-color .25s linear, padding 0s linear .25s;
}
.info-open{
  padding:1vh;
  padding-bottom: 0vh;
  height: 33vh;
  border-width: 3px;
}
.info-inner{
  height: 100%;
  width: 100%;
  padding-left: .25vw;
  padding-right: .25vw;
  overflow: hidden;
}
.info-inner-content{
  height: 23vh;
  width: 100%;
}
.content{
  margin-left: auto;
  margin-right: auto;
  width:45vw;
  height:0px;
  -webkit-transition: height .25s;
  -moz-transition: height .25s;
  -o-transition: height .25s;
  transition: height .25s;
}
.content-open{
  height:35vh;
  padding-bottom:1vw;
  padding-left:0px;
  padding-top:0px;
  padding-right: 1.1vw;
}
/*menu buttons*/
.menu-container{
  width:100vw;
  height:11vh;
  min-height: 5vh;
}
.menu-button{
  margin: 2vh;
  height: 8vh;
  width:8vh;
  min-height: 32px;
  min-width: 32px;
  padding-top: 2.5vh;
  font-size:1.75vh;
  font-weight: normal;
  text-align: center;
  background-color: hsl(0,0%,100%);
  border:solid;
  border-color: hsl(200, 40%, 50%);
  border-radius:4vh;
  -webkit-transition: border .2s, box-shadow .2s;
  -moz-transition: border .2s, box-shadow .2s;
  -o-transition: border .2s, box-shadow .2s;
  transition: border .2s, box-shadow .2s;
}
.menu-button:hover{
  cursor:pointer;
  border-color: hsl(0,0%,90%);
  box-shadow: 0 0 0px 3px hsl(200, 40%, 50%);
  font-weight: bold;
}
.menu-home{
  float:left;
}
.menu-dark{
  float:right;
}
#dark-text-1{
}
#dark-text-2{
  display: none;
}

#dark-text-1.dark{
  display:none;
}
#dark-text-2.dark{
  display: block;
}
.menu-view{
  float: right;
}
#view-text-1{
}
#view-text-2{
  display: none;
}
/*links css*/
.link{
  margin: auto;
  margin-bottom: 1vh;
  display:block;
  width:20vw;
}
.link-button{
  margin: auto;
  height:7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 3vh;
  background-color: hsl(0,0%,100%);
  border:solid;
  border-color: hsl(200, 40%, 50%);
  border-radius:5px;
  font-size: 5vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  -webkit-transition: border .2s, box-shadow .2s;
  -moz-transition: border .2s, box-shadow .2s;
  -o-transition: border .2s, box-shadow .2s;
  transition: border .2s, box-shadow .2s;

}
.link-button:hover{
  cursor:pointer;
  border-color: hsl(0,0%,90%);
  box-shadow: 0 0 0px 3px hsl(200, 40%, 50%);
  font-weight: bold;
}
#TN-1-link{
  padding-top: 0.5vh;
  font-size: 2.5vh;
  line-height: 0vh;
}
#link-projects{
  width: 20vw;
  padding: 0px;
}
/*media queries*/
