/*content centered on page*/

div{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: 'Roboto Mono';
}
body{
  background-color: hsl(0,0%,100%);
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.picture{
  margin: auto;
  margin-top: 20vh;
  border:solid;
  background-color: hsl(0,0%,100%);
  width: 128px;
  height: 128px;
}
.name-label{
  margin-top: 10vh;
  height: 5vw;
  font-size: 34pt;
  color: hsl(0,100%,15%);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.thumbnail-container{
  margin:auto;
  margin-top: 10vh;
  width:35vw;
  height:15vw;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vw;
  padding-top: 4vw;
}
.icon-box{
  width:7vw;
  height:7vw;
  background-color: lightblue;
  transition: height .25s,background-color .25s linear;
}
.icon-box:hover{
  cursor:pointer;
}
.icon-box-open{
  height:11vw;
  background-color: yellow;
}
.info{
  width: 33vw;
  height: 0px;
  background-color:green;
  transition: height .25s;
  margin-left:1vw;
}
.info-open{
  height:19vw;
}
.content{
  margin-left: auto;
  margin-right: auto;
  width:35vw;
  height:0px;
  background-color: grey;
  transition: height .25s;
}
.content-open{
  height:20vw;
  padding:1vw;
  padding-left:0px;
  padding-top:0px;
}
#TN-2-info{
  background-color:pink;
}
#TN-3-info{
  background-color:blue;
}
